{% load staticfiles %}
<!DOCTYPE html>
<html lang="sv">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="{% static 'css/karspexet.css' %}" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Kårspexets Finlandsturné</title>
  </head>
  <body>
    <div class="container-fluid text-center">
      <!-- Banner -->
      <img src='{% static 'images/18-19/bakgrund18-19.jpg' %}' alt="Kårspexet" width="60%"/>
      <!-- Errors -->
      {% if error_message %}
        <div class="alert alert-danger text-center">
          <strong>Varning!</strong> {{error_message}}
        </div>
      {% endif %}
      <!-- Content -->
      <div class="container gold-border my-4 py-4">{% block content %}{% endblock %}</div>
      <!-- Footer -->
      <div class="container text-center">
        <div class="row">
          <a class="offset-3 col-2" href="https://www.tfif.fi/">
            <img class="img-fluid" src="{% static 'images/tfif_logo.png' %}" alt="Tekniska Föreningen i Finland"/>
          </a>
          <a class="col-2" href="https://karspexet.se">
            <img class="img-fluid" src="https://karspexet.se/static/svg/luva-inkscape.svg" alt="Kårspexet"/>
          </a>
          <a class="col-2" href="https://www.teknologforeningen.fi/">
            <img class="img-fluid" src="{% static 'images/tf_logo.png' %}" alt="Teknologföreningen"/>
          </a>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
