{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="clearfix">
  <h2 class="center-block">Bekräfta din information</h2>
</div>
{% if cheaper_price_available %}
  <div class="alert alert-warning">
    Rabattkoden du har angett ger rätt till ett pris som är dyrare än ditt normala pris och har därför inte använts.
  </div>
{% endif %}
{% if coupon_entered %}
  {% if coupon_valid %}
    <div class="alert alert-success">
      Med rabattkupongen <i>{{ coupon_code }}</i>. Kupongen har använts {{ coupon_used }}/{{ coupon_total_uses }} gånger.
    </div>
  {% elif coupon_expired %}
    <div class="alert alert-danger">
      Kupongen du angett har redan använts. Kontakta ambassaden vid oklara situationer.
    </div>
  {% else %}
    <div class="alert alert-danger">
      Tyvärr berättigar inte din kupong <i>{{ coupon_code }}</i> till rabatt. Kontrollera att du fyllt i koden korrekt!
    </div>
  {% endif %}
{% endif %}
<table class="table table-dark table-striped">
  <tr>
    <th>Namn</th>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <th>E-postadress</th>
    <td>{{ email }}</td>
  </tr>
  <tr>
    <th>Biljettyp</th>
    <td>{{ register_choice }}</td>
  </tr>
  <tr>
    <th>Prisklass</th>
    <td>
      {% if student == "student" %}
        Studerande eller barn
      {% elif student == "phux" %}
        Phux
      {% else %}
        Inte Studerande
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Specialdiet</th>
    <td>
      {% if diet != "" %}
        {{diet}}
      {% else %}
        Ingen specialdiet
      {% endif %}
    </td>
  </tr>
  {% if nachspex %}
    <tr>
      <th>Alkoholfri</th>
      <td>
        {% if alcohol_free %}
          Ja
        {% else %}
          Nej
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Avec</th>
      <td>
        {% if avec != "" %}
          {{avec}}
        {% else %}
          Ingen avec
        {% endif %}
      </td>
    </tr>
  {% endif %}
  <tr>
    <th>Kommentar</th>
    <td>{{ comment }}</td>
  </tr>
  <tr>
    <th>Pris</th>
    <td>{{ price }} €</td>
  </tr>
</table>

<form action="/send/" method="post">
  {% csrf_token %}
  <input type="hidden" name="name" value="{{ name }}">
  <input type="hidden" name="email" value="{{ email }}">
  <input type="hidden" name="avec" value="{{ avec }}">
  <input type="hidden" name="spex" value="{{ spex }}">
  <input type="hidden" name="diet" value="{{ diet }}">
  <input type="hidden" name="student" value="{{ student }}">
  <input type="hidden" name="nachspex" value="{{ nachspex }}">
  <input type="hidden" name="coupon" value="{{ coupon_code }}">
  <input type="hidden" name="alcohol_free" value="{{ alcohol_free }}">
  <input type="hidden" name="comment" value="{{ comment }}">
  <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-shopping-cart"></i> &nbsp;Boka biljett</button>
</form>
{% endblock content %}
