{% extends "base.html" %}
{% block content %}
	<h1>KÅRSPEXETS FINLANDSTURNÉ 2019</h1>
  <p>
		Välkommen på Kårspexet 18/19 <strong>"Agatha Christie eller Fint folk omkommer sent"</strong> den 23:e februari klockan 15 i SYK (Isonnevantie 8, Helsingfors).
	</p>
  <p>
		Efter föreställningen finns det möjlighet att fortsätta kvällen i gott sällskap och delta på Nachspex på Teknologföreningen (Otsvängen 22, Esbo).
	</p>
  <p>
		Priset för föreställningen är 10/15/20&nbsp;€ (phux/studerande/övriga) och för Nachspexet 18&nbsp;€ (15&nbsp;€ alkoholfri). För både föreställningen och Nachspexet är priset 25/30/40&nbsp;€ (phux/studerande eller barn/övriga) eller 22/27/37&nbsp;€ (alkoholfri).
	</p>
  <p>
		Ifall ni har en rabattkod, kan ni mata in den i fältet "Rabattkod". Efter att ni klickat på fortsätt beräknar bokningssystemet ert nya pris. Ifall ni önskar boka flera biljetter för spexet, ber vi er vänligen boka flera enskilda biljettköp, och vid större biljettmängder eller övriga frågor kontakta <strong><a href="mailto:karspex@tf.fi">karspex@tf.fi</a></strong>
	</p>
  <p>
		Vi ses på spexet!
	</p>
	<a href="/register/" class="btn btn-lg"><i class="fas fa-shopping-cart"></i> &nbsp;Köp biljetter!</a>
{% endblock content %}
