{% extends "base.html" %}
{% block content %}
{% load static %}
  <!-- <h1>FÖRSÄLJNINGEN AV NACHSPEXBILJETTER HAR STÄNGT!</h1>
 </div>
 <div class="container gold-border my-4 py-4"> -->
	<h1>KÅRSPEXETS FINLANDSTURNÉ 2020</h1>
	<div class="col-8 offset-2 mb-5 embed-responsive embed-responsive-16by9">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fkarspexet.kth%2Fvideos%2F247015119572408%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
	</div>
  <p>
		Välkommen på Kårspexet 19/20 <strong>"Cecilia Vasa eller Alla dina damer? Finns i sjön"</strong> den 22:e februari klockan 16 i SYK (Isonnevantie 8, Helsingfors).
	</p>
  <p>
		Efter föreställningen finns det möjlighet att fortsätta kvällen i gott sällskap och delta på Nachspex på Teknologföreningen (Otsvängen 22, Esbo).
	</p>
	<br />
	<h1>Priser</h1>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Spex+Nachspex</th>
				<th>Endast Spex</th>
				<th>Endast Nachspex</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Phux</th>
				<td>25€</td>
				<td>10€</td>
				<td>18€</td>
			</tr>
			<tr>
				<th>Studerande eller barn</th>
				<td>30€</td>
				<td>15€</td>
				<td>18€</td>
			</tr>
			<tr>
				<th>Inte studerande</th>
				<td>40€</td>
				<td>25€</td>
				<td>18€</td>
			</tr>
		</tbody>
	</table>
	<p><strong>För alkoholfria avdras 3€ från priset</strong></p>
	<br />
  <p>
		Ifall ni önskar boka flera biljetter för spexet, ber vi er vänligen boka flera enskilda biljettköp, och vid större biljettmängder eller övriga frågor kontakta <strong><a href="mailto:karspex@tf.fi">karspex@tf.fi</a></strong>
	</p>
  <p>
		Vi ses på spexet!
	</p>
	<a href="/register/" class="btn btn-lg"><i class="fas fa-shopping-cart"></i> &nbsp;Köp biljetter!</a>
{% endblock content %}
